.sofa-img {
  max-width: 300px;
  height: auto;
  display: block;
  margin-top: 70px; /* Moves sofa image down */
  margin-left: auto;
  margin-right: auto;
}

/* Hide sofa image on mobile */
@media (max-width: 767px) {
  .sofa-img {
    display: none;
  }

  .sofa-img-mobile {
    display: block;
    max-width: 200px;
    margin-bottom: 15px;
  }

  .responsive-logo {
    max-width: 100px; /* Adjust logo size */
  }
}

.footer-logo img {
  max-width: 100px; /* Adjust the size as needed */
  height: auto;
}

/* Responsive adjustments for mobile */
@media (max-width: 767px) {
  .footer-logo img {
    max-width: 120px;
  }
}
